<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      IFTS 11
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-input placeholder="Email" #email></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" #password></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a href="/forgot-password">Olvidaste tu clave?</a>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a href="/register">Crear cuenta</a>
        </p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
